version: '3'

services:
  webserver:
    build:
      context: ./webserver
      dockerfile: Dockerfile
    container_name: webserver
    image: localapp/webserver
    ports:
      - "80:80"
    volumes:
      - ./code:/var/www/my-application.local
    networks:
      - app-network

  php:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile
    image: localapp/php
    container_name: php
    volumes:
      - ./code:/var/www/my-application.local
    networks:
      - app-network
networks:
  app-network:
    driver: bridge